<template>
  <div>
    <h1>{{ msg }}</h1>
    <hr />
    <h2>import function</h2>
    Number: {{ getNumberFormatted() }}
    <hr />
    <h2>In-page counter</h2>
    <div>
        <span>Counter: {{ counter }}</span>&nbsp;
        <button @click="counterPlusOne">Add 1</button>&nbsp;&nbsp;
        <button @click="counterReset">Reset</button>
    </div>
    <hr />
    <router-link :to="{ name: 'toyLand' }">Go to Toyland</router-link>
  </div>
</template>

<script>
import { formatNumber } from '@/utils/formatter'

export default {
  data () {
    return {
      msg: 'Welcome to Homepage',
      counter: 1,
      aNumber: 12345678
    }
  },
  methods: {
    getNumberFormatted: function () {
      return formatNumber(this.aNumber)
    },
    counterPlusOne: function () {
      this.counter = this.counter + 1
    },
    counterReset: function () {
      this.counter = 1
    }
  }
}
</script>
