<template>
  <div>
    <h1>Toy Land</h1>
    Show how to use a component : traffic-light<br />
    Using Element-UI for styling
    <hr />
    <traffic-light light="green" />
    <hr />
    <router-link :to="{ name: 'home' }">Go to Home</router-link>
  </div>
</template>

<script>
import TrafficLight from '@/components/TrafficLight.vue'

export default {
  components: {
    'traffic-light': TrafficLight
  }
}
</script>
