<template>
  <div>
    <el-button type="success" :disabled="g_disabled" round>&nbsp;</el-button>
    <el-button type="warning" :disabled="y_disabled" round>&nbsp;</el-button>
    <el-button type="danger" :disabled="r_disabled" round>&nbsp;</el-button>
    &nbsp;&nbsp;
    <el-button type="primary" @click="handleGo" plain>GO</el-button> &nbsp;
    <el-button type="primary" @click="handleStop" plain>STOP</el-button>
  </div>
</template>

<script>
export default {
  props: {
    light: String
  },
  data () {
    return {
      r_disabled: true,
      y_disabled: true,
      g_disabled: false
    }
  },
  methods: {
    handleGo: function () {
      this.r_disabled = true
      this.y_disabled = false
      this.g_disabled = true
      setTimeout(function (thiss) {
        thiss.r_disabled = true
        thiss.y_disabled = true
        thiss.g_disabled = false
      }, 800, this)
    },
    handleStop: function () {
      this.r_disabled = true
      this.y_disabled = false
      this.g_disabled = true
      setTimeout(function (thiss) {
        thiss.r_disabled = false
        thiss.y_disabled = true
        thiss.g_disabled = true
      }, 800, this)
    }
  },
  created: function () {
    console.log('hello traffics...', this.light)
    if (this.light === 'red') {
      this.r_disabled = false
      this.y_disabled = true
      this.g_disabled = true
    }
  }
}
</script>
